body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* make the text always in center */
}

.center-text {
  text-align: center;
}

h1 {
  font-size: 7em; /* large font size */
}

.letter {
  display: inline-block;
  animation: color-change 10s linear infinite;
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* different colors for each letter */
.color1 { color: #ff0000; }
.color2 { color: #ffa500; }
.color3 { color: #ffff00; }
.color4 { color: #00ff00; }
.color5 { color: #0000ff; }
.color6 { color: #ff00ff; }
.color7 { color: #00ffff; }
.color8 { color: #ff1493; }
.color9 { color: #800080; }
.color10 { color: #006400; }
.color11 { color: #8B0000; }
.color12 { color: #00BFFF; }
.color13 { color: #FF8C00; }
.color14 { color: #9400D3; }
.color15 { color: #FF00FF; }
.color16 { color: #4B0082; }
.color17 { color: #008000; }
.color18 { color: #800000; }
.color19 { color: #000080; }
.color20 { color: #808000; }
.color21 { color: #008080; }

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}